@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello, I'm Michał Turczyn :)</h1>
    <img style="max-height: 20vh" src="images/my-image.jpg" alt="My image" />
    <p>I am .NET developer, who is passionate about anything code.</p>
    <p>I try to learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>My pages:</p>
    <div>
        <a href="https://stackoverflow.com/users/7132550/michał-turczyn">StackOverflow</a>
    </div>
    <div>
        <a href="https://github.com/mturczyn">GitHub</a>
    </div>
</div>

<form method="post">
    <fieldset>
        <legend>Add feedback</legend>
        <div>
            <label for="FeedbackContent">Type feedback here:</label>
            <input type="text" name="FeedbackContent" value=""/>
        </div>
        <div>
            <label for="FeedbackAuthor">Your name:</label>
            <input type="text" name="FeedbackAuthor" value="" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>

<h2>Feedbacks</h2>
<ul>
    @foreach(var feedback in Model.Feedbacks)
    {
        <li>@feedback.Content <br /> <span style="font-style: italic">Written by @feedback.Author</span></li>
    }
</ul>
